{
  "type": "service_account",
  "project_id": "citycare-replace-me",
  "private_key_id": "replace-me",
  "private_key": "-----BEGIN PRIVATE KEY-----\nREPLACE_ME\n-----END PRIVATE KEY-----\n",
  "client_email": "firebase-adminsdk@citycare-replace-me.iam.gserviceaccount.com",
  "client_id": "0",
  "token_uri": "https://oauth2.googleapis.com/token"
}
